doctype html
html 
    head 
        title Message
        meta(name="viewport" content="width=device-width, initial-scale=0.75")
        link(rel="stylesheet" href="/show.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        script.
            function deleteMessageAfterCountdown(messageId) {
                setTimeout(() => {
                    fetch(`/message/${messageId}`, { method: 'DELETE' })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = '/';
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }, 500);
                }

            function startCountDown(messageId) {
                let countdown = 10;
                const countdownElement = document.getElementById("countdown");
                const interval = setInterval(() => {
                    countdownElement.textContent = countdown;
                    countdown -= 1;
                    if (countdown < 0) {
                        clearInterval(interval);
                        deleteMessageAfterCountdown(messageId);
                    }
                }, 1000);
            }

            function toggleDarkMode() {
                const body = document.body;
                const button = document.getElementById('dark-mode-toggle');
                body.classList.toggle('dark-mode');

                if (body.classList.contains('dark-mode')) {
                    localStorage.setItem('dark-mode', 'true');
                    button.textContent = 'Light Mode';
                    button.style.backgroundColor = 'rgb(200, 200, 200)';
                    button.style.color = 'black';
                } else {
                    localStorage.setItem('dark-mode', 'false');
                    button.textContent = 'Dark Mode';
                    button.style.backgroundColor = 'rgb(67, 67, 187)';
                    button.style.color = 'white';
                }
            }

            window.onload = function() {
                startCountDown(#{messageId});

                const body = document.body;
                const button = document.getElementById('dark-mode-toggle');
                if (localStorage.getItem('dark-mode') === 'true') {
                    body.classList.add('dark-mode');
                    button.textContent = 'Light Mode';
                    button.style.backgroundColor = 'rgb(200, 200, 200)';
                    button.style.color = 'black';
                } else {
                    button.textContent = 'Dark Mode';
                    button.style.backgroundColor = 'rgb(67, 67, 187)';
                    button.style.color = 'white';
                }
            }

    body
        div.message-outer-container
            button.dark-mode-button(onclick="toggleDarkMode()") Toggle Dark Mode
            img(src="/logo.svg" alt="Website Logo" class="logo")
            div.message-container
                div.message-logo-timestamp
                    i.fa-solid.fa-envelope-open-text
                    h1.timestamp Message from #{dayjs(message.timestamp).format('MMM-DD-YYYY')} &nbsp;#{dayjs(message.timestamp).format('h:mm:ssa')}
                div.message-message
                    p.message #{message.message}
                div.countdown-message 
                    div.warning-message *** This message will self-destruct in <span id="countdown">10</span> seconds ***
                    div.back-to-container
                        a.back-to-messages(href='/') 
                            i.fa-solid.fa-arrow-left
                            | &nbsp;Back to messages